<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JPA</title>
    <link rel="stylesheet" href="http://bit.ly/3WJ5ilK"/>
</head>
<body>
    <!-- m1.html -->
    <h1>Spring Boot <small>JPA</small></h1>
    <form action="/m1ok" method="post">
        <table class="vertical">
            <tr>
                <th>아이템명</th>
                <td><input type="text" name="name" required></td>
            </tr>
            <tr>
                <th>가격</th>
                <td><input type="number" name="price" required min="0" max="2000000"></td>
            </tr>
            <tr>
                <th>색상</th>
                <td>
                    <select name="color">
                        <option value="black">black</option>
                        <option value="white">white</option>
                        <option value="yellow">yellow</option>
                        <option value="red">red</option>
                        <option value="blue">blue</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>수량</th>
                <td><input type="number" name="qty" min="1" max="10000"></td>
            </tr>
            <tr>
                <th>설명</th>
                <td><textarea name="description" class="full"></textarea></td>
            </tr>
        </table>
        <div>
            <button>등록하기</button>
        </div>
    </form>
</body>
</html>
