<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JPA</title>
    <link rel="stylesheet" href="http://bit.ly/3WJ5ilK"/>
</head>
<body>
    <!-- m3.html -->
    <h1>Spring Boot <small>JPA</small></h1>
    <h2>UPDATE</h2>
    <form action="/m3ok" method="post">
        <table class="vertical" th:object="${dto}">
            <tr>
                <th>아이템명</th>
                <td><input type="text" name="name" required th:field="*{name}"></td>
            </tr>
            <tr>
                <th>가격</th>
                <td><input type="number" name="price" required min="0" max="2000000" th:field="*{price}"></td>
            </tr>
            <tr>
                <th>색상</th>
                <td>
                    <select name="color" th:field="*{color}">
                        <option value="black">black</option>
                        <option value="white">white</option>
                        <option value="yellow">yellow</option>
                        <option value="red">red</option>
                        <option value="blue">blue</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>수량</th>
                <td><input type="number" name="qty" min="1" max="10000" th:field="*{qty}"></td>
            </tr>
            <tr>
                <th>설명</th>
                <td><textarea name="description" class="full" th:field="*{description}"></textarea></td>
            </tr>
        </table>
        <!--<table class="vertical">
            <tr>
                <th>아이템명</th>
                <td><input type="text" name="name" required th:value="${dto.name}"></td>
            </tr>
            <tr>
                <th>가격</th>
                <td><input type="number" name="price" required min="0" max="2000000" th:value="${dto.price}"></td>
            </tr>
            <tr>
                <th>색상</th>
                <td>
                    <select name="color">
                        &lt;!&ndash; 추후에 다른 방식으로 조건 판단해볼 예정... &ndash;&gt;
                        <option value="black" th:selected="${dto.color == 'black'}">black</option>
                        <option value="white" th:selected="${dto.color == 'white'}">white</option>
                        <option value="yellow" th:selected="${dto.color == 'yellow'}">yellow</option>
                        <option value="red" th:selected="${dto.color == 'red'}">red</option>
                        <option value="blue" th:selected="${dto.color == 'blue'}">blue</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>수량</th>
                <td><input type="number" name="qty" min="1" max="10000" th:value="${dto.qty}"></td>
            </tr>
            <tr>
                <th>설명</th>
                <td><textarea name="description" class="full">[[${dto.description}]]</textarea></td>
            </tr>
        </table>-->
        <!--
        <table class="vertical">
            <tr>
                <th>아이템명</th>
                <td><input type="text" name="name" required></td>
            </tr>
            <tr>
                <th>가격</th>
                <td><input type="number" name="price" required min="0" max="2000000"></td>
            </tr>
            <tr>
                <th>색상</th>
                <td>
                    <select name="color">
                        <option value="black">black</option>
                        <option value="white">white</option>
                        <option value="yellow">yellow</option>
                        <option value="red">red</option>
                        <option value="blue">blue</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>수량</th>
                <td><input type="number" name="qty" min="1" max="10000"></td>
            </tr>
            <tr>
                <th>설명</th>
                <td><textarea name="description" class="full"></textarea></td>
            </tr>
        </table>
        -->
        <div>
            <button>수정하기</button>
        </div>
        <input type="hidden" name="seq" th:field="${dto.seq}">
    </form>
</body>
</html>
